{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
  {# Добавляем отображение ошибок #}
  {% for category, message in get_flashed_messages(with_categories=true,
                                                  category_filter=["success", "info", "danger"]) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endfor %}

  <div class="mb-3">
    <h1>Сайт: {{ url[1] }}</h1>
    <p class="text-muted">Добавлен: {{ url[2].strftime('%Y-%m-%d %H:%M') }}</p>
    <a href="{{ url_for('urls') }}" class="btn btn-primary">← Назад к списку</a>
    <form method="post" action="{{ url_for('url_check', id=url[0]) }}" class="d-inline">
      <button type="submit" class="btn btn-primary ms-2">Запустить проверку</button>
    </form>
  </div>

  <h2 class="mt-4">Проверки</h2>
  <table class="table table-bordered table-hover" data-test="checks">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>Код ответа</th> <!-- Добавляем data-test атрибут -->
      <th>h1</th>
      <th>title</th>
      <th>description</th>
      <th>Дата проверки</th>
    </tr>
  </thead>
  <tbody>
    {% for check in checks %}
      <tr>
        <td>{{ check[0] }}</td>
        <td data-test="status-code">{{ check[2] }}</td>
        <td>{{ check[3] | default('', true) }}</td>
        <td>{{ check[4] | default('', true) }}</td>
        <td>{{ check[5] | default('', true) }}</td>
        <td>{{ check[6].strftime('%Y-%m-%d %H:%M') }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

